<!DOCTYPE html>

<% include includes/html %>

<head>
    <title>八音盒</title>

    <% include includes/metadata %>

    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/error.css?v=<%= build_no %>">

    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>

<div class="waves">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="whale"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<header class="container-fluid text-center">
    <h1>小盒子迷路啦</h1>
    <h4>不如还是游回首页去吧</h4>
    <a class="btn btn-primary" href="http://www.wedfairy.com">八音盒首页</a>
</header>
<footer class="footer text-center">
    <div class="social-icons">
        <a href="http://mp.weixin.qq.com/s?__biz=MzA5ODM0OTM5Mg==&mid=209005186&idx=1&sn=e9c3d663cec343fcf098a927c5d32354#rd" target="_blank">
            <i class="fa fa-wechat"></i>
        </a>
        <a href="http://weibo.com/u/5224024448/" target="_blank" class="hidden-xs">
            <i class="fa fa-weibo"></i>
        </a>
        <a href="http://m.weibo.cn/u/5224024448/" target="_blank" class="visible-xs-inline-block">
            <i class="fa fa-weibo"></i>
        </a>
    </div>
    <p class="copyright">© 八音盒 2015</p>
</footer>

</body>
</html>
