<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>八音盒</title>
    
    <% include includes/metadata %>
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/amour.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/desktop.css?v=<%= build_no %>">
    
    <script src="<%= static_url %>javascripts/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Content Begins Here -->

<header>
    <div class="wrapper">
        <a class="logo" href="/"></a>
    </div>
</header>
<div class="wrapper clearfix">
    <div class="iframe pull-left">
        <div id="iframe-wrapper">
            <iframe src="<%= url %>" width="320" height="548"></iframe>
        </div>
    </div>
    <div class="qrcode pull-left">
        <div class="qrcode-tips">
            <h4>使用微信扫描二维码</h4>
        </div>
        <div id="qrcode-wrapper"></div>
        <div class="qrcode-tips">
            <p>轻松分享到<strong>朋友圈</strong>或者发送给好友</p>
            <p>收藏工具<strong>随时随地</strong>在手机上直接操作和阅读</p>
            <p>直接上传手机中的照片</p>
        </div>
    </div>
</div>
<footer>
    <h4 class="font-wide text-center">SITE MADE WITH LOVE</h4>
</footer>

<!-- Content Ends Here -->

<script>
    var IFRAME_URL = '<%= url %>';
</script>

<script src="<%= static_url %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script src="<%= static_url %>javascripts/vendor/underscore.min.js"></script>
<script src="<%= static_url %>javascripts/vendor/mustache.min.js"></script>
<script src="<%= static_url %>javascripts/vendor/backbone.min.js"></script>

<script src="<%= static_url %>javascripts/plugins/fastclick.js"></script>
<script src="<%= static_url %>javascripts/plugins/jquery.qrcode.min.js"></script>

<script src="<%= static_url %>javascripts/amour.js?v=<%= build_no %>"></script>
<script src="<%= static_url %>javascripts/desktop.js?v=<%= build_no %>"></script>

<% include includes/analytics %>

</body>
</html>
