<!DOCTYPE html>
<html>
<head>
    
<title>出错啦</title>

<% include includes/metadata %>

<link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap/bootstrap.css">
<link rel="stylesheet" href="<%= static_url %>stylesheets/font-awesome/font-awesome.css">

<script src="<%= static_url %>javascripts/vendor/modernizr-2.6.2.min.js"></script>
    
</head>
<body>

<div class="container">
    <h2><%= status %></h2>
    <h3><%= message %></h3>
    <% if (settings.env == 'development') { %>
        <pre><%= stack %></pre>
    <% } %>
</div>

<% include includes/analytics %>

</body>
</html>
