<!DOCTYPE html>
<% include includes/html %>
<head>
    <title>八音盒</title>
    
    <% include includes/metadata %>
    <link rel="stylesheet" href="<%= static_url %>fonts/iconfont.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/explore.css?v=<%= build_no %>">
    
    
    <% include includes/capability %>
    <% include includes/production %>
</head>
<body id="explore">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Content Begins Here -->
    <% include page/header %>
    <div id="tip-container"></div>

    <div id="wed-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#wed-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#wed-carousel" data-slide-to="1"></li>
            <li data-target="#wed-carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="img slide-img" data-bg-src="images/slide/0.png" alt=""></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div class="img slide-img" data-bg-src="images/slide/1.jpg" alt=""></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div class="img slide-img" data-bg-src="images/slide/2.jpg" alt=""></div>
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <!-- Controls -->
        
    </div>
    <div class="clearfix"></div>

    <div class="body">
        <div class="filter-container">
            <div class="scene-filter filter">
                <div class="selected-scene">
                    <span class="text">故事场景</span> <i class="iconfont icon-jiantou"></i>
                </div>
                <div class="scene-filter-menu filter-menu">
                    <a href="#all">选择全部</a>
                    <a href="#wedding">婚礼故事</a>
                    <a href="#friendship">友情故事</a>
                    <a href="#idol">偶像故事</a>
                    <a href="#lover">爱人礼物</a>
                </div>
            </div>

            <div class="order-filter filter view-hide">
                <div class="selected-order">排序</div>
                <div class="order-filter-shower">

                </div>
            </div>

        </div>


        <div class="story-container">
        <!-- .col-md-3 -->
        </div>
        <div class="btn prev-btn pagination-btn visible-md-block visible-lg-block"><i class="iconfont icon-back"></i></div>
        <div class="btn next-btn pagination-btn visible-md-block visible-lg-block"><i class="iconfont icon-right"></i></div>



        
    </div>
    <div class="clearfix"></div>

    <% include page/footer %>
    <div class="view-hide template-view">
        <% include template/explore-story-template %>

    </div>


    <!-- Content Ends Here -->
    <script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/skrollr.min.js"></script>
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>
    <script src="<%= static_url %>javascripts/explore.js?v=<%= build_no %>"></script>
</body>
</html>