<!DOCTYPE html>
<% include includes/html %>
<head>
    <title>八音盒</title>

    <% include includes/metadata %>
    <% include includes/stylesheets %>

    <link rel="stylesheet" href="<%= static_url %>stylesheets/explore-home.css?v=<%= build_no %>">

    <% include includes/capability %>
    <% include includes/production %>

    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>
    
    <!-- Content Begins Here -->
    <% include layouts/header %>
    <% include explore/explore-nav %>
    

    <section class="container">
        <% include explore/explore-slider %>
        <section class="row content-body">
            <div class="col-md-9">
                <h4 class="title-fetured hidden">
                    推荐故事 <a href="/explore/staffpicks"><span class="moreStoried">更多>></span></a></h4>
                <div class="row story-container story-featured-container"></div>

                <h4 class="title-hot hidden">
                    热门故事 <a href="/explore/hot"><span class="moreStoried">更多>></span></a></h4>
                <div class="row story-container story-hot-container"></div>

                <h4 class="title-wedding hidden">
                    婚礼邀请函 <a href="/explore/wedding"><span class="moreStoried">更多>></span></a></h4>
                <div class="row story-container story-wedding-container"></div>

                <h4 class="title-baby hidden">
                    宝贝故事 <a href="/explore/baby"><span class="moreStoried">更多>></span></a></h4>
                <div class="row story-container story-baby-container"></div>

                <h4 class="title-voyage hidden">
                    旅行故事 <a href="/explore/voyage"><span class="moreStoried">更多>></span></a></h4>
                <div class="row story-container story-voyage-container"></div>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="ranking">
                    <h4 class="title-ranking hidden">排行榜</h4>
                    <!-- <div class="">本周</div> -->
                    <div class="story-ranking-container"></div>
                </div>
                <div class="wedfairy-float">
                    <div class="img img-contain wedfairy-float-bg" data-bg-src="images/explore/logo.png">
                        <a href="https://itunes.apple.com/cn/app/ba-yin-he-jie-hun-qing-jian/id1024494390" target="_blank"><img data-src="images/explore/download.png"></a>
                        <a href="http://site.wedfairy.com/mystory" target="_blank"><img data-src="images/explore/start2make.png"></a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <% include layouts/footer %>

    <% include template/newexplore-story-template %>
    <% include template/ranking-story-template %>

    <!-- Content Ends Here -->
    
    <% include includes/javascripts %>

    <script src="<%= static_url %>javascripts/explore-home.js?v=<%= build_no %>"></script>

    <% include includes/analytics %>

</body>
</html>
