<!DOCTYPE html>
<% include includes/html %>
<head>
    <title>八音盒</title>
    
    <% include includes/metadata %>
    <!-- <link rel="stylesheet" href="<%= static_url %>fonts/iconfont.css"> -->
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/iconfont.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/explore.css?v=<%= build_no %>">
    


    <% include includes/capability %>
    <% include includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="explore">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Content Begins Here -->
    <% include page/header %>
    <!-- <div id="tip-container"></div> -->


    <div class="clearfix"></div>
    <div class="body">
        <!-- <div class=""></div> -->
        <div class="filter-nav">
            <div class="container">
                <div class="row filter-container">
                    <div class="filter pull-left">
                        <ul class="nav nav-pills ">
                            <li><a href="/explore">首页</a></li>
                            <li><a href="featured" filter-name="featured">推荐故事</a></li>
                            <li><a href="hot" filter-name="hot">热门故事</a></li>
                            <li><a href="wedding" filter-name="wedding">婚礼</a></li>
                            <li><a href="baby" filter-name="baby">宝贝</a></li>
                            <li><a href="voyage" filter-name="voyage">旅行</a></li>
                            <li>
                                <div class="btn-group">
                                   <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                      更多 <span class="caret"></span>
                                   </button>
                                   <ul class="dropdown-menu" role="menu">
                                        <!-- <li><a href="#all" filter-name="all">全部</a></li>
                                        <li><a href="#wedding" filter-name="wedding">婚礼</a></li> -->
                                        <li><a href="lover" filter-name="lover">爱情纪念日</a></li>
                                        <li><a href="idol" filter-name="idol">偶像</a></li>
                                        <li><a href="friendship" filter-name="friendship">友情</a></li>
                                        <li><a href="yearbook" filter-name="yearbook">新年书</a></li>
                                        <!-- <li><a href="#voyage" filter-name="voyage">旅行故事</a></li> -->
                                        <li><a href="family" filter-name="family">家人</a></li>
                                        <!-- <li><a href="#baby" filter-name="baby">宝贝故事</a></li> -->
                                        <li><a href="personal" filter-name="personal">个人</a></li>
                                        <li><a href="food" filter-name="food">美食</a></li>
                                        <li><a href="universal" filter-name="universal">通用</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <form class="search-box pull-right" role="search">
                        <button type="submit" class="pull-right"><i class="fa fa-search fa-2x"></i></button>
                        <input type="text" class="form-control pull-left" name="title" placeholder="搜索" />
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row slider">
                <div class="col-md-12 col-lg-12 hidden-xs">
                    <!-- slider -->
                    <div id="wed-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#wed-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#wed-carousel" data-slide-to="1"></li>
                            <li data-target="#wed-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a href="http://story.wedfairy.com/story/de87cd" target="_blank">
                                    <div class="img slide-img" data-bg-src="images/slide/0.jpg" alt=""></div>
                                </a>
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <a href="http://story.wedfairy.com/story/b56e33" target="_blank">
                                    <div class="img slide-img" data-bg-src="images/slide/1.jpg" alt=""></div>
                                </a>
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <a href="http://story.wedfairy.com/story/b32ee6" target="_blank">
                                    <div class="img slide-img" data-bg-src="images/slide/2.jpg" alt=""></div>
                                </a>
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                         <!-- Controls -->
                          <a class="left carousel-control hidden-xs" href="#wed-carousel" role="button" data-slide="prev">
                            <span class="iconfont icon-back" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control hidden-xs" href="#wed-carousel" role="button" data-slide="next">
                            <span class="iconfont icon-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        
                    </div>
                </div>
            </div>

            <div class="row content-body">
                <!-- <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 story-container"></div> -->
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="col-sm-12 col-md-12 col-lg-12 hidden" id="content-title"></div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row story-container"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                    <div class="ranking">
                        <h3 class="title-ranking hidden">排行榜</h3>
                        <!-- <div class="">本周</div> -->
                        <div class="story-ranking-container"></div>
                    </div>
                    <div id="myScrollspy">
                        <div class="wedfairy-float" data-spy="affix" data-offset-top="1640" data-offset-bottom="680">
                            <div class="img img-contain wedfairy-float-bg" data-bg-src="images/explore/logo.png">
                                <a href="https://itunes.apple.com/cn/app/ba-yin-he-jie-hun-qing-jian/id1024494390" target="_blank"><img data-src="images/explore/download.png"></a>
                                <a href="http://site.wedfairy.com/mystory" target="_blank"><img data-src="images/explore/start2make.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>  
    </div>

    <div class="clearfix"></div>

    <div class="center-block loading text-center hidden">
            <i class="iconfont icon-loading spin"></i>正在加载中...
    </div>

    <% include page/footer %>
    <div class="view-hide template-view">
        <% include template/newexplore-story-template %>
    </div>
    <div class="view-hide template-view">
        <% include template/ranking-story-template %>
    </div>

    <script>
        var EXPLORE_FILTER_NAME = "<%= filterName %>";
    </script>

    <!-- Content Ends Here -->
    <script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/handlebars.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/skrollr.min.js"></script>
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <% include includes/analytics %>
    <script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>
    <script src="<%= static_url %>javascripts/explore.js?v=<%= build_no %>"></script>
    <script src="<%= static_url %>javascripts/init.js?v=<%= build_no %>"></script>
</body>
</html>