<!DOCTYPE html>
<% include includes/html %>
<head>
    <title>八音盒</title>

    <% include includes/metadata %>
    <% include includes/stylesheets %>

    <link rel="stylesheet" href="<%= static_url %>stylesheets/explore-home.css?v=<%= build_no %>">

    <% include includes/capability %>
    <% include includes/production %>

    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>
    
    <!-- Content Begins Here -->
    <% include layouts/header %>

        <section class="filter-nav">
        <div class="container">
            <div class="row filter-container">
                <div class="filter pull-left">
                    <ul class="nav nav-pills">
                        <li><a href="/explore">全部</a></li>
                        <li><a href="/explore/featured" filter-name="featured">推荐故事</a></li>
                        <li><a href="/explore/hot" filter-name="hot">热门故事</a></li>
                        <li class="hidden-xs"><a href="/explore/wedding" filter-name="wedding">婚礼</a></li>
                        <li class="hidden-xs"><a href="/explore/baby" filter-name="baby">宝贝</a></li>
                        <li class="hidden-xs"><a href="/explore/voyage" filter-name="voyage">旅行</a></li>
                        <li>
                            <div class="btn-group">
                               <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                  更多 <span class="caret"></span>
                               </button>
                               <ul class="dropdown-menu" role="menu">
                                    <li class="visible-xs-* hidden-sm hidden-md hidden-lg"><a href="/explore/wedding" filter-name="wedding">婚礼</a></li>
                                    <li class="visible-xs-* hidden-sm hidden-md hidden-lg"><a href="/explore/baby" filter-name="baby">宝贝</a></li>
                                    <li class="visible-xs-* hidden-sm hidden-md hidden-lg"><a href="/explore/voyage" filter-name="voyage">旅行</a></li>
                                    <li><a href="/explore/lover" filter-name="lover">爱人</a></li>
                                    <li><a href="/explore/friendship" filter-name="friendship">友情</a></li>
                                    <li><a href="/explore/idol" filter-name="idol">偶像</a></li>
                                    <li><a href="/explore/family" filter-name="family">家人</a></li>
                                    <li><a href="/explore/personal" filter-name="personal">个人</a></li>
                                    <li><a href="/explore/food" filter-name="food">美食</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <form class="search-box pull-right" role="search">
                    <button type="submit" class="pull-right"><i class="fa fa-search fa-2x"></i></button>
                    <input type="text" class="form-control pull-left" name="title" placeholder="搜索" />
                </form>    
            </div>
        </div>
    </section>

    <section class="container">
        <section class="slider hidden-xs">
            <!-- slider -->
            <div id="wed-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#wed-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#wed-carousel" data-slide-to="1"></li>
                    <li data-target="#wed-carousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="http://story.wedfairy.com/story/d15129" target="_blank">
                            <div class="img slide-img" data-bg-src="images/slide/0.jpg" alt=""></div>
                        </a>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <a href="http://story.wedfairy.com/story/b56e33" target="_blank">
                            <div class="img slide-img" data-bg-src="images/slide/1.jpg" alt=""></div>
                        </a>
                        <div class="carousel-caption">
                        </div>
                    </div>
                    <div class="item">
                        <a href="http://story.wedfairy.com/story/b32ee6" target="_blank">
                            <div class="img slide-img" data-bg-src="images/slide/2.jpg" alt=""></div>
                        </a>
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>
                 <!-- Controls -->
                <a class="left carousel-control hidden-xs" href="#wed-carousel" role="button" data-slide="prev">
                    <span class="iconfont icon-angle-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control hidden-xs" href="#wed-carousel" role="button" data-slide="next">
                    <span class="iconfont icon-angle-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        <section class="row content-body">
            <div class="col-md-9">
                <h4 class="title-fetured hidden">
                    推荐故事 <a href="/explore/featured"><span class="moreStoried">更多>></span></a></h4>
                <div class="row story-container story-featured-container"></div>

                <h4 class="title-hot hidden">
                    热门故事 <a href="/explore/hot"><span class="moreStoried">更多>></span></a></h4>
                <div class="row story-container story-hot-container"></div>

                <h4 class="title-wedding hidden">
                    婚礼邀请函 <a href="/explore/wedding"><span class="moreStoried">更多>></span></a></h4>
                <div class="row story-container story-wedding-container"></div>

                <h4 class="title-baby hidden">
                    宝贝故事 <a href="/explore/baby"><span class="moreStoried">更多>></span></a></h4>
                <div class="row story-container story-baby-container"></div>

                <h4 class="title-voyage hidden">
                    旅行故事 <a href="/explore/voyage"><span class="moreStoried">更多>></span></a></h4>
                <div class="row story-container story-voyage-container"></div>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="ranking">
                    <h4 class="title-ranking hidden">排行榜</h4>
                    <!-- <div class="">本周</div> -->
                    <div class="story-ranking-container"></div>
                </div>
                <div class="wedfairy-float">
                    <div class="img img-contain wedfairy-float-bg" data-bg-src="images/explore/logo.png">
                        <a href="https://itunes.apple.com/cn/app/ba-yin-he-jie-hun-qing-jian/id1024494390" target="_blank"><img data-src="images/explore/download.png"></a>
                        <a href="http://site.wedfairy.com/mystory" target="_blank"><img data-src="images/explore/start2make.png"></a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <% include layouts/footer %>

    <% include template/newexplore-story-template %>
    <% include template/ranking-story-template %>

    <!-- Content Ends Here -->
    
    <% include includes/javascripts %>

    <script src="<%= static_url %>javascripts/explore-home.js?v=<%= build_no %>"></script>

    <% include includes/analytics %>

</body>
</html>
