<!DOCTYPE html>
<% include includes/html %>
<head>
    <title>八音盒</title>
    
    <% include includes/metadata %>
    <link rel="stylesheet" href="<%= static_url %>fonts/iconfont.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/explore.css?v=<%= build_no %>">
    
    
    <% include includes/capability %>
    <% include includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="explore">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Content Begins Here -->
    <% include page/header %>
    <!-- <div id="tip-container"></div> -->


    <div class="clearfix"></div>
    <div class="body">
        <div class="filter-container">
            <div class="filter">
                    <ul class="pull-left">
                        <li><a href="#all" filter-name="all">全部</a></li>
                        <li><a href="#wedding" filter-name="wedding">婚礼邀请函</a></li>
                        <li><a href="#friendship" filter-name="friendship">友情故事</a></li>
                        <li><a href="#voyage" filter-name="voyage">旅游故事</a></li>
                        <li><a href="#idol" filter-name="idol">偶像故事</a></li>
                        <li><a href="#lover" filter-name="lover">情感故事</a></li>
                    </ul>
            </div>


            <form class="search-box pull-right" role="search">
                <!-- <input type="hidded" readonly="readonly"> -->
                <button type="submit" class="pull-right"><i class="fa fa-search fa-2x"></i></button>
                <input type="text" class="form-control pull-left" placeholder="搜索" />



            </form>    

        </div>
        <div class="container">
            <div class="row story-container">
                <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div> -->

            </div>

        </div>

<!--         <div class="btn prev-btn pagination-btn visible-md-block visible-lg-block"><i class="iconfont icon-back"></i></div>
        <div class="btn next-btn pagination-btn visible-md-block visible-lg-block"><i class="iconfont icon-right"></i></div> -->    
    </div>

    <div class="clearfix"></div>

    <div class="center-block loading text-center">
            <i class="iconfont icon-loading spin"></i>正在加载中...
    </div>

    <% include page/footer %>
    <div class="view-hide template-view">
        <% include template/explore-story-template %>
    </div>

    <!-- Content Ends Here -->
    <script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/skrollr.min.js"></script>
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <% include includes/analytics %>
    <script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>
    <script src="<%= static_url %>javascripts/explore.js?v=<%= build_no %>"></script>
</body>
</html>