<!DOCTYPE html>

<% include includes/html %>

<head>
    
    <% include includes/metadata %>
    
    <title>八音盒</title>
    
    <meta name="description" content="八音盒官方网站">
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/home.css?v=<%= build_no %>">
    
    <% include includes/capability %>
    <% include includes/production %>
    
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>

<!--<div id="loading-screen"></div>-->

<!-- The story begins here -->
<% include home/hero %>
<% include home/products %>
<% include home/features %>
<!-- The story ends -->

<script>
    var WX_CONFIG = <%- JSON.stringify(wx_config) %>
</script>

<script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>

<script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
<script src="<%= tat_static %>javascripts/plugins/skrollr.min.js"></script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>

<script src="<%= static_url %>javascripts/home.js?v=<%= build_no %>"></script>

<% include includes/analytics %>

</body>
</html>
