<!DOCTYPE html>

<% include includes/html %>

<head>
    <title><%= title %></title>
    
    <% include includes/metadata %>
    
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/bootstrap.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    
    <% include includes/production %>
    
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

<div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
</div>

<% include includes/analytics %>

</body>
</html>
