<!DOCTYPE html>

<% include includes/html %>

<head>
    <title>八音盒</title>
    
    <% include includes/metadata %>
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/portfolio.css?v=<%= build_no %>">
    
    <% include includes/capability %>
    <% include includes/production %>
    
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>

<!-- Content Begins Here -->

<div class="container">
    <div class="text-center menu">
        <p class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="featured" value="on">只看推荐的故事</label>
            <label class="btn btn-primary active">
                <input type="radio" name="featured" value="off" checked>浏览全部故事</label>
        </p>
        <p>点击故事完成百分比旁边的 <i class="fa fa-check-circle"></i> 可以推荐或者取消推荐</p>
    </div>
    <div class="row story-list"></div>
    <button id="btn-more" data-loading-text="Loading..." class="btn btn-block">更多</button>
</div>

<!-- Content Ends Here -->

<script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>

<script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
<script src="<%= tat_static %>javascripts/plugins/jquery.qrcode.min.js"></script>

<script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>

<script src="<%= static_url %>javascripts/portfolio.js?v=<%= build_no %>"></script>

<% include includes/analytics %>

</body>
</html>
