<!DOCTYPE html>

<% include includes/html %>

<head>
    <title>八音盒</title>
    
    <% include includes/metadata %>
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/portfolio.css?v=<%= build_no %>">
    
    <% include includes/capability %>
    <% include includes/production %>
    
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>

<!-- Content Begins Here -->

<div class="container">
    <div class="text-center menu">
        <div class="btn-group">
            <a class="btn btn-parimary btn-link" href="#all">全部故事</a>
            <a class="btn btn-parimary btn-link" href="#complete">只看完成</a>
            <a class="btn btn-parimary btn-link" href="#featured">只看推荐</a>
        </div>
        <!-- <p>点击故事完成百分比旁边的 <i class="fa fa-check-circle"></i> 可以推荐或者取消推荐</p> -->
        <form class="form-inline form-search">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-mobile fa-lg"></i></div>
                    <input type="text" class="form-control" name="mobile" placeholder="输入手机号搜索">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">确认</button>
        </form>
        <div class="tag-list"></div>
    </div>
    <div class="row story-list"></div>
    <button id="btn-more" data-loading-text="Loading..." class="btn btn-block">更多</button>
</div>

<!-- Content Ends Here -->

<!-- Login Modal -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">故事管理员登录</h4>
            </div>
            <div class="modal-body">
                <form id="loginForm">
                    <div class="form-group">
                        <label class="control-label">用户名</label>
                        <input class="form-control" type="text" name="username">
                    </div>
                    <div class="form-group">
                        <label class="control-label">密码</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="login-button" type="button" class="btn btn-primary">登录</button>
            </div>
        </div>
    </div>
</div>

<!-- / Login Modal -->

<!-- Tags Modal -->

<div class="modal fade" id="tags-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">选择标签</h4>
            </div>
            <div class="modal-body">
                <div class="tag-list"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- / Tags Modal -->

<script id="template-story-item" type="text/x-handlebars-template">
    <div class="cover img" data-bg-src="{{data.coverImage}}">
        <div class="theme-image img" data-bg-src="{{themeImage}}"></div>
    </div>
    <p class="row">
        <span class="col-xs-6"><i class="fa fa-heart-o text-primary"></i> {{likes}}</span>
        <span class="col-xs-6"><i class="fa fa-comment-o"></i> {{comments}}</span>
    </p>
    <p>{{formatted_date}}</p>
    <!--<p class="name"><samp>8yinhe.cn/s/{{name}}</samp></p>-->
    <p class="name"><samp>{{name}}</samp> | <strong>{{themeTitle}}</strong></p>
    <p class="status {{#eq featured 2}}text-primary{{/eq}}{{#eq featured 1}}text-success{{/eq}}">
        <span>{{progress}}</span>
        <i class="fa fa-lg fa-check-circle"></i>
        {{#eq featured 3}}
        <span class="text-danger">原型故事</span>
        {{else if archived}}
        <span class="text-danger">已删除</span>
        {{else}}
        <select>
            <option value="0" {{#eq featured 0}}selected{{/eq}}>未完成</option>
            <option value="1" {{#eq featured 1}}selected{{/eq}}>已完成</option>
            <option value="2" {{#eq featured 2}}selected{{/eq}}>推荐</option>
        </select>
        {{/eq}}
    </p>
    <p>{{owner}}</p>
    <p class="title">{{title}}</p>
    <p class="tags">
        {{#list tags}}
        <span class="tag">{{title}}</span>
        {{else}}
        <span>没有标签</span>
        {{/list}}
    </p>
</script>

<script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/handlebars.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>

<script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
<script src="<%= tat_static %>javascripts/plugins/moment.js"></script>
<script src="<%= tat_static %>javascripts/plugins/jquery.qrcode.min.js"></script>

<script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>

<script src="<%= static_url %>javascripts/portfolio.js?v=<%= build_no %>"></script>

<% include includes/analytics %>

</body>
</html>
