<!DOCTYPE html>

<% include includes/html %>

<head>
    <title>八音盒</title>
    
    <% include includes/metadata %>
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/portfolio.css?v=<%= build_no %>">
    
    <% include includes/capability %>
    <% include includes/production %>
    
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>

<!-- Content Begins Here -->

<div class="container">
    <div class="text-center menu">
        <p class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="featured" value="on">只看推荐的故事</label>
            <label class="btn btn-primary active">
                <input type="radio" name="featured" value="off" checked>浏览全部故事</label>
        </p>
        <p>点击故事完成百分比旁边的 <i class="fa fa-check-circle"></i> 可以推荐或者取消推荐</p>
        <form class="form-inline form-search">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-mobile fa-lg"></i></div>
                    <input type="text" class="form-control" name="mobile" placeholder="输入手机号搜索">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">确认</button>
        </form>
    </div>
    <div class="row story-list"></div>
    <button id="btn-more" data-loading-text="Loading..." class="btn btn-block">更多</button>
</div>

<!-- Content Ends Here -->

<!-- Login Modal -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">故事管理员登录</h4>
            </div>
            <div class="modal-body">
                <form id="loginForm">
                    <div class="form-group">
                        <label class="control-label">用户名</label>
                        <input class="form-control" type="text" name="username">
                    </div>
                    <div class="form-group">
                        <label class="control-label">密码</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="loginButton" type="button" class="btn btn-primary">登录</button>
            </div>
        </div>
    </div>
</div>

<!-- / Login Modal -->

<script id="template-story-item" type="text/x-mustache-template">
    <div class="cover img" data-bg-src="{{data.coverImage}}"></div>
    <p class="row">
        <span class="col-xs-6"><i class="fa fa-heart-o text-primary"></i> {{likes}}</span>
        <span class="col-xs-6"><i class="fa fa-comment-o"></i> {{comments}}</span>
    </p>
    <p>{{formatted_date}}</p>
    <p class="name"><samp>8yinhe.cn/s/{{name}}</samp></p>
    <p class="{{#featured}}text-primary{{/featured}}">{{progress}} <i class="fa fa-lg fa-check-circle"></i></p>
    <p>{{owner}}</p>
    <p class="title">{{title}}</p>
</script>

<script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>

<script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
<script src="<%= tat_static %>javascripts/plugins/moment.js"></script>
<script src="<%= tat_static %>javascripts/plugins/jquery.qrcode.min.js"></script>

<script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>

<script src="<%= static_url %>javascripts/portfolio.js?v=<%= build_no %>"></script>

<% include includes/analytics %>

</body>
</html>
