<!DOCTYPE html>

<% include includes/html %>

<head>
    <title>八音盒</title>
    
    <% include includes/metadata %>
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/ranking.css?v=<%= build_no %>">
    
    <% include includes/capability %>
    <% include includes/production %>
    
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>

<!-- Content Begins Here -->
<header>
    <div class="logo-text"><span class="logo"></span><span class="brand"></span></div>
<!--     <div class="filter">
        <select class="selectpicker">
            <option><a href="#all" filter-name="all">全部</a></option>
            <option><a href="#wedding" filter-name="wedding">婚礼</a></option>
            <option><a href="#lover" filter-name="lover">爱情纪念日</a></option>
            <option><a href="#wedding" filter-name="wedding">婚礼</a></option>
            <option><a href="#idol" filter-name="idol">偶像故事</a></option>
            <option><a href="#friendship" filter-name="friendship">友情故事</a></option>
            <option><a href="#yearbook" filter-name="yearbook">新年书</a></option>
            <option><a href="#voyage" filter-name="voyage">旅行故事</a></option>
            <option><a href="#family" filter-name="family">家人故事</a></option>
            <option><a href="#baby" filter-name="baby">宝贝故事</a></option>
            <option><a href="#personal" filter-name="personal">个人故事</a></option>
            <option><a href="#universal" filter-name="universal">通用</a></option>
        </select>
    </div> -->
    <div class="filter-container">
        <div class="scene-filter filter">
            <div class="selected-scene">
                <span class="text">故事场景</span>
            </div>
            <div class="scene-filter-menu filter-menu">
                <a href="#all" filter-name="all">全部</a>
                <a href="#wedding" filter-name="wedding">婚礼</a>
                <a href="#lover" filter-name="lover">爱情纪念日</a>
                <a href="#wedding" filter-name="wedding">婚礼</a>
                <a href="#idol" filter-name="idol">偶像故事</a>
                <a href="#friendship" filter-name="friendship">友情故事</a>
                <a href="#yearbook" filter-name="yearbook">新年书</a>
                <a href="#voyage" filter-name="voyage">旅行故事</a>
                <a href="#family" filter-name="family">家人故事</a>
                <a href="#baby" filter-name="baby">宝贝故事</a>
                <a href="#personal" filter-name="personal">个人故事</a>
                <a href="#universal" filter-name="universal">通用</a>
            </div>
        </div>
    </div>
    <h4 class="text-right title">本月最具人气排行榜</h4>
</header>

<div class="story-list"></div>

<button id="btn-more" data-loading-text="正在加载..." class="btn btn-block">更多</button>

<footer>
    <h4 class="text-center">如果你也想制作属于自己的故事，请戳下方</h4>
    <div class="text-center">
        <a href="http://www.wedfairy.com/?from=ranking"><span class="logo"></span><span class="brand"></span></a>
    </div>
</footer>

<!-- Content Ends Here -->

<script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>

<script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
<script src="<%= tat_static %>javascripts/plugins/jquery.qrcode.min.js"></script>

<script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>

<script src="<%= static_url %>javascripts/ranking.js?v=<%= build_no %>"></script>

<% include includes/analytics %>

</body>
</html>
