<!DOCTYPE html>

<% include includes/html %>

<head>
    <title>八音盒</title>
    
    <% include includes/metadata %>
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/ranking.css?v=<%= build_no %>">
    
    <% include includes/capability %>
    <% include includes/production %>
    
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>

<!-- Content Begins Here -->
<header>
    <div class="logo-text"><span class="logo"></span><span class="brand"></span></div>
    <h4 class="text-right title">十月最具人气排行榜</h4>
</header>

<div class="story-list"></div>

<button id="btn-more" data-loading-text="正在加载..." class="btn btn-block">更多</button>

<footer>
    <h4 class="text-center">如果你也想制作</h4>
    <div class="text-center">
        <span class="logo"></span><span class="brand"></span>
    </div>
</footer>

<!-- Content Ends Here -->

<script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
<script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>

<script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
<script src="<%= tat_static %>javascripts/plugins/jquery.qrcode.min.js"></script>

<script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>

<script src="<%= static_url %>javascripts/ranking.js?v=<%= build_no %>"></script>

<% include includes/analytics %>

</body>
</html>
