<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>八音盒 - <%= story.title %></title>
    
    <% include includes/metadata %>
    
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/vendor/animate.min.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/amour.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/storytell.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>themes/<%= theme %>/theme.css?v=<%= build_no %>">
    
    <% if (settings.env != 'development') { %>
    <script>
        if (window == window.top && !/iPhone|Android|iPad|Windows Phone/i.test(navigator.userAgent)) {
            window.location.href = '/desktop?url=' + encodeURIComponent(window.location.href);
        }
    </script>
    <% } %>
    <script src="<%= static_url %>javascripts/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

<% include storytell/banner %>

<!-- The story begins here -->
<div class="views-wrapper"></div>
<!-- The story ends -->

<div class="loading-screen"><p class="loading-text">正在加载 <span>0</span>%</p></div>

<script>
    var BOOST = {};
    BOOST.STORY_DATA = <%- JSON.stringify(story) %>
</script>

<script src="<%= static_url %>javascripts/vendor/jquery-2.1.1.min.js"></script>
<script src="<%= static_url %>javascripts/vendor/underscore.min.js"></script>
<script src="<%= static_url %>javascripts/vendor/mustache.min.js"></script>
<script src="<%= static_url %>javascripts/vendor/backbone.min.js"></script>
<script src="<%= static_url %>javascripts/vendor/bootstrap.min.js"></script>

<script src="<%= static_url %>javascripts/plugins/fastclick.js"></script>
<script src="<%= static_url %>javascripts/plugins/moment.js"></script>
<!--<script src="<%= static_url %>javascripts/plugins/iscroll-lite.js"></script>-->

<script src="<%= static_url %>javascripts/amour.js?v=<%= build_no %>"></script>
<script src="<%= static_url %>themes/<%= theme %>/theme.js?v=<%= build_no %>"></script>

<% if (settings.env == 'development') { %>
<script>
    var require = {callback: function() { require.config({
        baseUrl: '<%= static_url %>javascripts',
        paths: {},
        shim: {}
    })}};
</script>
<script data-main="<%= static_url %>javascripts/storytell.js" src="<%= static_url %>require.js"></script>
<% } else { %>
<script data-main="<%= static_url %>javascripts/storytell-built.js?v=<%= build_no %>" 
        src="<%= static_url %>require.js"></script>
<% } %>

<% include includes/analytics %>

</body>
</html>
