<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <title>八音盒 - 我的相册</title>

    <% include ../includes/metadata %>
    <% include ../includes/stylesheets %>

    <link rel="stylesheet" href="<%= static_url %>stylesheets/my/mymusic.css?v=<%= build_no %>">

    <% include ../includes/capability %>
    <% include ../includes/production %>

    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>

    <!-- Content Begins Here -->
    <% include ../layouts/header %>

    <div class="my-nav">
        <div class="container">
            <div class="row">
                <div class="my-story-nav col-md-12 col-sm-12">
                    <a class="nav-my-stories" href="/my">故事列表</a>
                    <a class="nav-my-gallery" href="/my/gallery">我的相册</a>
                    <a class="nav-my-music active" href="/my/music">我的音乐</a>
                    <a class="nav-change-pw" href="/accounts/change-password">修改密码</a>
                    <!-- <a class="nav-forget-pw" href="/accounts/forget-password">找回密码</a> -->
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        <section class="row content-body" id="view-albums">

            <div id="mygallery-upload-area" class="text-center">
                <div class="img img-cover mygallery-upload" data-bg-src="/images/mygallery-upload-icon.png"></div>
                <div class="mygallery-upload-text">将mp3（不大于3MB）拖到这里，或<span type="button" id="mymusic-pickfiles">点击上传</span></div>
            </div>

            <div class="wrapper">
                <div class="tb-header clearfix">
                    <label class="music-title">歌曲名</label>
                    <label class="music-url">音乐地址</label>
                    <label class="music-delete">删除</label>
                    <label class="music-save">保存更改</label>
                </div>
                <div class="music-wrapper">
                </div>
            </div>

            <div class="center-block loading text-center hidden">
                <i class="iconfont icon-loading spin"></i>正在加载中...
            </div>

        </section>
    </section>




    <% include ../layouts/footer %>

    <% include ./templates %>


    <!-- Content Ends Here -->

    <% include ../includes/javascripts %>

    <script src="<%= tat_static %>javascripts/plugins/moment.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/jquery.qrcode.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/plupload.full.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/qiniu.js"></script>
    <script src="<%= static_url %>javascripts/mymusic.js?v=<%= build_no %>"></script>
    <!-- <script src="<%= static_url %>javascripts/uploadmusicUI.js?v=<%= build_no %>"></script> -->


    <% include ../includes/analytics %>

</body>
</html>
