<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <title>八音盒 - 找回密码</title>

    <% include ../includes/metadata %>
    <% include ../includes/stylesheets %>

    <link rel="stylesheet" href="<%= static_url %>stylesheets/accounts/forget-password.css?v=<%= build_no %>">

    <% include ../includes/capability %>
    <% include ../includes/production %>

    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>
    
    <!-- Content Begins Here -->
    <% include ../layouts/header %>
    
    <div class="my-nav">
        <div class="container">
            <div class="row">
                <div class="my-story-nav col-md-12 col-sm-12">
                    <!-- <a class="nav-my-stories" href="/my">故事列表</a>
                    <a class="nav-my-gallery" href="/my/gallery">我的相册</a>
                    <a class="nav-change-pw" href="/accounts/change-password">修改密码</a> -->
                    <!-- <a class="nav-forget-pw active" href="/accounts/forget-password">找回密码</a> -->
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        <div class="row content-body" id="view-forget-password">
            <div class="wrapper">
                <form>
                    <div class="step-one">
                        <!-- <label class="control-label">注册时使用的手机号码</label> -->
                        <input class="form-control" type="text" name="mobile" placeholder="请输入手机号码" autocomplete="off">
                    </div>

                    <div class="step-two">
                        <!-- <label class="control-label">验证码</label> -->
                        <input class="form-control" type="tel" name="code" placeholder="请输入验证码" autocomplete="off">
                        <div class="micro-msg-block clearfix">
                            <span class="resend-hint"></span>
                            <button class="btn btn-send-code">发送验证码</button>
                        </div>
                    </div>
                    <div class="step-two ">
                        <!-- <label class="control-label">新密码</label> -->
                        <input class="form-control" type="password" name="password" placeholder="请输入新密码" autocomplete="off">
                    </div>
                    <div class="step-two">
                        <button class="btn btn-primary sure-btn btn-confirm-pwd">更新密码</button>
                    </div>
                </form>
            </div>
        </div>

    </section>

    <% include ../layouts/footer %>

    <!-- Content Ends Here -->

    <% include ../includes/javascripts %>

    <script src="<%= tat_static %>javascripts/plugins/moment.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/jquery.qrcode.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/plupload.full.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/qiniu.js"></script>
    <script src="<%= static_url %>javascripts/forget-password.js?v=<%= build_no %>"></script>


    <% include ../includes/analytics %>

</body>
</html>
