<!DOCTYPE html>
<% include ../includes/html %>
<head>

    <title>八音盒 - 关于我们</title>

    <title>八音盒</title>

    
    <% include ../includes/metadata %>
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/page.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/iconfont.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">

    
    
    <% include ../includes/capability %>
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="about">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Content Begins Here -->
    <% include navabout %>

    <div id="tip-container"></div>
    
    <div class="body container" id="about-body">
        <div class="navbar hidden-sm hidden-xs">
            <a class="nav-item active" href="/about">关于我们</a>
            <a class="nav-item" href="/about/team">团队成员</a>
            <a class="nav-item" href="/about/joinus">加入我们</a>
            <a class="nav-item" href="/about/contactus">联系我们</a>
            <!-- <a class="nav-item" href="/about/followus">关注我们</a> -->
            <!-- <a href="/about/"></a> -->
        </div>

        <div class="about-section" id="aboutus">
            <div class="about-item">
                <h2 class="text-center">八音盒是什么</h2>
                <p>八音盒（上海风到科技有限公司）成立于2014年9月，是一家为用户提供一流的移动端故事制作工具的互联网公司，公司目前位于中国上海。</p>
                <p>八音盒是一款让用户能够自主创作高品质故事的建站工具，旗下“婚礼邀请函”场景一经推出，便吸引了数十万用户在线制作。</p>
                <p>简单的制作方法、个性化的呈现方式和有趣的交互功能在为八音盒带来了众多忠实用户的同时，也在市场上赢得了较高的人气与众多品牌合作商家。</p>
                <p>“爱人礼物”、“友情”、“旅行”、“偶像”等场景的陆续推出，不仅满足了成千上万的个性化用户的需求，也填补了国内多场景故事创作工具的空白。</p>

            </div>
            <div class="about-item">
                <h2 class="text-center">价值观</h2>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 aboutus-item">
                        <h4>做自己的用户</h4>
                        <p class="aboutus-p text-justify">对于产品，不需要刻意的迎合设计，产品本身就是用户，从用户的角度出发，使得产品的使用体感变得更体贴，更无微不至。</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 aboutus-item">
                        <h4>倡导用“爱”记录生活</h4>
                        <p class="aboutus-p text-justify">生活中的许多事情都很美，值得发现，值得记录，值得纪念。用爱去记录这些来自生活的故事，让这份爱得到延续。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 aboutus-item">
                        <h4>高能效的执行</h4>
                        <p class="aboutus-p text-justify">扁平化的管理模式，各部门之间的高沟通率。任何问题都可以在短时间内提出并得到最优的解决方案。从发现问题到最终解决只需要煮一杯咖啡的时间。</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 aboutus-item">
                        <h4>人人都是创意大师</h4>
                        <p class="aboutus-p text-justify">每个人个体的想法从来不应该被任何理由束缚住，只要你敢想并且愿意倾诉出来，使用中任何一个细节的创造，都能被赋予意想不到的创意。</p>
                    </div>

                </div>          
            </div>
            <br />
        </div>



        <div class="clearfix"></div>
        <br />

    </div>
    <% include footer %>
    <!-- Content Ends Here -->
    <script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <% include ../includes/analytics %>
    <script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>
</body>
</html>