<!DOCTYPE html>
<% include ../includes/html %>
<head>

    <title>八音盒 - 联系我们</title>

    <title>八音盒</title>

    
    <% include ../includes/metadata %>
    <!-- <link rel="stylesheet" href="<%= static_url %>fonts/iconfont.css"> -->
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/page.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/iconfont.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    
    
    <% include ../includes/capability %>
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="contactus">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Content Begins Here -->
    <% include navabout %>

    <div id="tip-container"></div>
    
    <div class="body container" id="about-body">
        <div class="navbar hidden-sm hidden-xs">
            <a class="nav-item" href="/about">关于我们</a>
            <a class="nav-item" href="/about/team">团队成员</a>
            <a class="nav-item" href="/about/joinus">加入我们</a>
            <a class="nav-item active" href="/about/contactus">联系我们</a>
            <!-- <a class="nav-item" href="/about/followus">关注我们</a> -->
            <!-- <a href="/about/"></a> -->
        </div>
        <div class="contariner-fluid">
            <div class="about-section" id="aboutus">
                <div class="about-item">
                    <h2>联系八音盒</h2>
                    <p>我们高度注重产品的质量，所以我们不会想错过每一个对我们产品出发声音的人。无论你是想给我提意见，还是想加入我们的团队，又或者想和我们聊聊合作，这里将开启你和八音盒对话的大门。我们相信，只要有志同道合的朋友在，八音盒就能够做的更好。</p>

                </div>
                <div class="about-item">
                    <!-- <h2>创始人</h2> -->
                    <!-- <br /> -->
                    <div class="contariner">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h3 class="text-left">八音盒地址</h3>
                                <address><p>上海市黄浦区马当路新天地复兴soho广场D栋3层</p></address>
                                <br />
                                <div>客服邮箱</div>
                                <div>contact@wedfairy.com</div>
                                <div>商务合作</div>
                                <div>business@wedfairy.com</div>
                                <div>招聘邮箱</div>
                                <div>jobs@wedfairy.com</div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="img img-cover map-img" data-bg-src="images/aboutus/map.png">
                                    <div class="text-center team-sign">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>                <br />
            </div>

        </div>

        <div class="clearfix"></div>
        <br />

    </div>
    <% include footer %>
    <!-- Content Ends Here -->
    <script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/handlebars.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <% include ../includes/analytics %>
    <script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>
</body>
</html>