<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <title>八音盒 - 帮助</title>
    
    <% include ../includes/metadata %>
    <link rel="stylesheet" href="<%= static_url %>fonts/iconfont.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/page/page.css?v=<%= build_no %>">
    
    
    <% include ../includes/capability %>
    <% include ../includes/production %>
</head>
<body id="help">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Content Begins Here -->
    <% include header %>
    <div class="navbar">
        <div class="nav-wrapper">
            <a class="nav-item active" href="/about/law">法律声明</a>
            <a class="nav-item" href="">帮助</a>
        </div>
    </div>
    <div id="tip-container"></div>
    
    <div class="body">

        <div class="clearfix"></div>
        <br />

    </div>
    <% include footer %>
    <!-- Content Ends Here -->
    <script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>
    <script src="<%= static_url %>javascripts/home.js?v=<%= build_no %>"></script>
</body>
</html>