<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <title>八音盒 - 法律声明</title>
    
    <% include ../includes/metadata %>
    <link rel="stylesheet" href="<%= static_url %>fonts/iconfont.css">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/page/page.css?v=<%= build_no %>">
    
    
    <% include ../includes/capability %>
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="law">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Content Begins Here -->
    <% include header %>
    <div class="navbar">
        <div class="nav-wrapper">
            <a class="nav-item active" href="/about/law">法律声明</a>
            <a class="nav-item" href="/about/faq">FAQ</a>
            <!-- <a class="nav-item" href="javascripts:void(0);">帮助</a> -->
        </div>
    </div>
    <div id="tip-container"></div>
    
    <div class="body">
        <h1 class="page-title">法律声明</h1>
        <pre>本网站由上海风到科技网络有限公司创建并运行维护。任何人士进入本网站、阅读任何内容、从本网站下载任何材料或使用本网站提供的资料，即表示同意遵守下列条款。这些条款构成上
海风到科技网络有
限公司与您之间的协议。若不同意遵守这些条款，切勿使用本网站。上海风到科技网络有限公司保留未经通知随时更新下列条款的权利，这些更新将同样也约束您。任何时间，任何情况下，
上海风到科技网络有限公司均有权拒绝任何用户进入、使用本网站。

上海风到科技网络有限公司保留随时更正、修改、更新本声明的权利。

-本网站上的信息
本网站上的有关信息（包括但不限于公司名称、联系人及联络信息，产品的描述和说明，相关图片、视讯等）均由用户自行提供，用户依法应对其提供的任何信息承担全部责任。本公司对此
等信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，本公司对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。
浏览者可以下载本网站上显示的资料，但这些资料只限用于个人学习研究目的，不得用于任何商业用途。浏览者没有获得本公司或相应权利人书面许可，不得分发、修改、散布、再使用、再
传递上述资料或将其用于任何商业用途。

-版权和商标
本网站上可阅读和可见的所有资料和技术都受到知识产权法的保护。
“八音盒”及其 LOGO、商标或标识的所有权利均属于本公司，未经本公司书面同意，任何人不得擅自使用。
凡侵犯本公司版权等知识产权的，本公司必依法追究其法律责任。

-免责声明
本公司在此特别声明对如下事项不承担任何法律责任：
对您使用本网站、与本网站相关的内容、服务或其它链接至本网站的站点、内容均不作任何保证。
无论任何原因（包括但不限于疏忽），对因使用本网站上的信息或由本网站链接的信息，或其他本网站链接的网站信息所导致的损失或损害（包括直接、间接、特别或后果性的损失或损害，
例如收入或利润之损失，电脑系统之损坏或数据丢失等后果），本公司不承担任何责任。
使用本网站即表明您同意承担相关全部风险，对使用者因此所遭受的损失本公司不承担任何责任。
由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。 
任何由于黑客政击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被篡改等。 由于与本网站链接的其它
网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。

-隐私权保护
隐私权是您的重要权利。向我们提供您的个人信息是基于对我们的信任，相信我们会以负责的态度对待您的个人信息。我们在此承诺，除非下列情况外，在未得到您的许可之前，我们不会
主动把您的任何个人信息提供给无关的第三方（包括公司或个人）。
　1. 事先获得用户的明确授权；
　2. 依据法院、仲裁机构裁判或裁决，以及其他司法程序的要求；
　3. 按照相关政府主管部门的要求；
　4. 用户违反使用条款的规定或有其他损害上海风到科技网络有限公司利益的行为；
　5. 其他有关法律法规的要求。

但请注意，您在使用我们的服务时所提供、上传或发布的内容和信息（例如有关您社交活动的照片等信息），可能会泄露您的敏感个人信息。您需要谨慎地考虑，是否在使用我们的服务时披
露相关敏感个人信息。

-Cookie 的使用
a) 在您未拒绝接受 cookies 的情况下，本网站会在您的计算机上设定或取用 cookies，以便您能登录或使用依赖于 cookies 的平台服务或功能。使用 cookies 可为您提供更加周到的个性化服
务，包括推广服务。
b) 您有权选择接受或拒绝接受 cookies。您可以通过修改浏览器设置的方式拒绝接受 cookies。但如果您选择拒绝接受 cookies，则您可能无法登录或使用依赖于 cookies 的平台服务或功能。
c) 通过本网站所设 cookies 所取得的有关信息，将适用本政策；

-法律适用和管辖
任何有关本网站和网站声明的争议、纠纷，均适用中华人民共和国法律。任何有关本网站和网站声明的争议，应由有管辖权的人民法院管辖。如中华人民共和国法律的修改使上述任何条款
成为非法，各方将同意由上海风到科技网络有限公司对上述条款作出修改。

本声明的解释权及对本网站使用的解释权归结于上海风到网络科技有限公司。</pre>
       

        <div class="clearfix"></div>
        <br />

    </div>
    <% include footer %>
    <!-- Content Ends Here -->
    <script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <% include ../includes/analytics %>
    <script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>
</body>
</html>