<!DOCTYPE html>
<% include ../includes/html %>
<head>
    <title>八音盒 - 媒体报道</title>
    
    <% include ../includes/metadata %>
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/page.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/iconfont.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">

    <% include ../includes/capability %>
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="reports">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Content Begins Here -->
    <% include navlaw %>

    <!-- <div id="tip-container"></div> -->
<!--     <div class="page-title">
        <h2>法律声明</h2>
 -->    
    <div class="container-fluid">
        <div class="row grey-bg">
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
            <div class="page-title col-lg-6 col-md-6 col-sm-12">媒体报道</div>
            <div class="col-lg-3 col-md-6 col-sm-12"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- <hr /> -->
                <div class="row report-item">
                    <div class="item-content col-lg-6 col-md-6 col-sm-12">
                        <h4><a href="http://cn.technode.com/post/2015-05-19/bayinhe/">动点科技</a> - 2015/05/19</h4>
                        <p>八音盒本质上一个在移动端操作的h4页面制作工具,它更多面向普通用户,你可以用它来讲述自己的爱情故事、友情故事、旅行故事或偶像故事等等。最后生成的故事页面,采用的是干净顺滑的 ONEPAGE 页面效果,它希望更专注于内容的展现,而非形式上的设计感。
                        </p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12"></div>
                    <div class="col-lg-5 col-md-5 col-sm-12 img item-img img-contain" data-bg-src="images/reports/report1.jpg">
                    </div>
                </div>     
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- <hr /> -->
                <div class="row report-item">
                    <div class="item-content col-lg-6 col-md-6 col-sm-12">
                        <h4><a href="http://mag.china30s.com/11828.html">中国三明治</a> - 2015/06/14</h4>
                        <p>八音盒的两位创始人都是计算机专业出身,在美国因为一瓶牛奶盒而结下了不解之缘。“我们始终觉得,对于含蓄的中国人来说,总有那么一些情感,你需要诉说,只是无法开口；那我们提供给大家一个工具,让你用手机来诉说！”李博说道。
                        </p>                    
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12"></div>
                    <div class="col-lg-5 col-md-5 col-sm-12 img item-img img-contain" data-bg-src="images/reports/report2.jpg">
                    </div>
                </div>     
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
        </div>
       
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- <hr /> -->
                <div class="row report-item">
                    <div class="item-content col-lg-6 col-md-6 col-sm-12">
                        <h4><a href="http://36kr.com/p/220524.html?utm_source=site_search">36kr</a> - 2015/03/13</h4>
                        <p>小时候得到一个八音盒的时候,打开前最好奇的是它会唱什么样的歌,跳什么样的舞,讲什么样的故事。这种创造和享受惊喜的快乐正是h4页面制作工具团队“八音盒轻故事”希望营造的。创造和享受惊喜的快乐正是h4页面制作工具 团队“八音盒”希望营造的。</p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12"></div>
                    <div class="col-lg-5 col-md-5 col-sm-12 img item-img img-contain" data-bg-src="images/reports/report4.jpg">
                    </div>
                </div>     
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- <hr /> -->
                <div class="row report-item">
                    <div class="item-content col-lg-6 col-md-6 col-sm-12">
                        <h4><a href="http://www.taiwan.cn/xwzx/Technology/201503/t20150313_9276987.htm">中国台湾网</a> - 2015/03/13</h4>
                        <p>团队最初的切入点是婚帖,是源于创始人自己的需求。经过朋友圈传播后,3个月内有5000对情侣使用其服务制作了自己的页面,原因是这些模板和例文很容易激发用户的创作欲,然后引导他们一步一步写下自己的故事,操作方式简单,成品是图文混合的连续展示页面,漂亮且可读性高。</p>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12"></div>
                    <div class="col-lg-5 col-md-5 col-sm-12 img item-img img-contain" data-bg-src="images/reports/report3.jpg">
                    </div>
                </div>     
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12"></div>
        </div>


        <div class="clearfix"></div>
        <br />

    </div>
    <% include footer %>
    <!-- Content Ends Here -->
    <script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/mustache.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <% include ../includes/analytics %>
    <script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>
</body>
</html>