<!DOCTYPE html>
<% include ../includes/html %>
<head>

    <title>八音盒 - 团队成员</title>

    <title>八音盒</title>

    
    <% include ../includes/metadata %>
    <link rel="stylesheet" href="<%= static_url %>stylesheets/bootstrap-custom.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= static_url %>stylesheets/page.css?v=<%= build_no %>">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/iconfont.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/font-awesome.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/animate.min.css">
    <link rel="stylesheet" href="<%= tat_static %>stylesheets/amour.css">
    
    
    <% include ../includes/capability %>
    <% include ../includes/production %>
    <script src="<%= tat_static %>javascripts/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body id="team">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Content Begins Here -->
    <% include navabout %>

    <div id="tip-container"></div>
    
    <div class="body container">
        <div class="navbar hidden-sm hidden-xs">
            <a class="nav-item" href="/about">关于我们</a>
            <a class="nav-item active" href="/about/team">团队成员</a>
            <a class="nav-item" href="/about/joinus">加入我们</a>
            <a class="nav-item" href="/about/contactus">联系我们</a>

            <!-- <a class="nav-item" href="/about/followus">关注我们</a> -->
            <!-- <a href="/about/"></a> -->
        </div>
        <div class="contariner-fluid">
            <div class="about-section">
                <div class="about-item">
                    <h2>创始人</h2>
                    <br />
                    <div class="contariner">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/lb.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">大管家</p>
                                        <p class="idiograph">不会放过任何嘈点的调侃先生</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">李博 CEO</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/xd.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">技术担当</p>
                                        <p class="idiograph">幻想统领黑客界的老鲜肉</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">丁鑫栋 CTO</p>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="about-item">
                    <h2>Team</h2>
                    <br />
                    <div class="contariner">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/yinzi.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">设计喵</p>
                                        <p class="idiograph">低调的亚洲当红歌姬</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">银子</p>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/shiyu.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">设计狮</p>
                                        <p class="idiograph">新晋萌宠动物园园长</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">Bear</p>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/xiujia2.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">市场打杂</p>
                                        <p class="idiograph">职业无国界的电视剧杀手</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">秀佳</p>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/yanjun.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">市场小二</p>
                                        <p class="idiograph">据说做饭是女孩纸的修养</p>
                                    </div>

                                </div>
                                <p class="text-center text-name">Cecilia</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/hl.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">新媒体小编</p>
                                        <p class="idiograph">月月光铲屎官</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">Hayley</p>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/jj.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">市场</p>
                                        <p class="idiograph">少女心の女汉纸</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">Jane</p>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/zy.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">前端工程狮</p>
                                        <p class="idiograph">内心萌系的工程师</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">张扬</p>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/liran.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">前端小兵</p>
                                        <p class="idiograph">不想当店长的程序员不是好摄影师</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">Alex</p>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/sirong.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">市场小三</p>
                                        <p class="idiograph">Social queen里的安静美女纸</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">丝绒</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/xiaohui.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">设计尸</p>
                                        <p class="idiograph">Less is more</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">Lynn</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="img img-cover avatar-team" data-bg-src="images/aboutus/lantian.jpg">
                                    <div class="text-center team-sign">
                                        <p class="team-title">前端</p>
                                        <p class="idiograph">处女座 || 野生程序猿 || 受迫害妄想症</p>
                                    </div>
                                </div>
                                <p class="text-center text-name">sebastianlan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <br />

    </div>
    <% include footer %>
    <!-- Content Ends Here -->
    <script src="<%= tat_static %>javascripts/vendor/jquery-2.1.1.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/underscore.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/handlebars.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/backbone.min.js"></script>
    <script src="<%= tat_static %>javascripts/vendor/bootstrap.min.js"></script>
    <script src="<%= tat_static %>javascripts/plugins/fastclick.js"></script>
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <% include ../includes/analytics %>
    <script src="<%= tat_static %>javascripts/amour.js?v=<%= build_no %>"></script>
</body>
</html>